body{

background:#2b2117;

color:#f5d37a;

font-family:Arial;

margin:40px;

}

header{

text-align:center;

margin-bottom:40px;

}

h1{

font-size:60px;

margin:0;

}

h2{

margin-top:0;

letter-spacing:8px;

}

.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

margin-bottom:40px;

}

.card{

background:#3b2b1e;

padding:20px;

border:1px solid #c89f3d;

border-radius:10px;

text-align:center;

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:#5d4326;

padding:15px;

}

td{

padding:12px;

border-bottom:1px solid #6b563d;

text-align:center;

}
